html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    background-color: #1E1E1E;
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 14px;
    overflow: hidden;
}

main {
    margin: auto;
    margin-top: 30px;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 20px;
}

section {
    margin-left: 50px;
}

.p-tag {
    color: #ffc66d;
    margin-left: -50px;
}

.comment-slash {
    margin-left: -50px;
}

.comment-block  {
    color: #77B767;
}

.constant-block-primary {
    color: #A9B7C6;
}

.constant-block-secondary {
    color: #9876aa;
}

.constant-block-tertiary {
    color: #CC7832;
    color: #9876aa;
}

a {
    color: #77B767;
    border-bottom: 1px dashed #77B767;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    opacity: 0.85;
}

.sub-title {
    position: relative;
    padding-left: 10px;
}

.sub-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: white;
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}


