html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    background-color: #1E1E1E;
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 14px;
    overflow: hidden;
}

header {
    margin: auto;
    max-width: 33rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

main {
    margin: 30px auto auto;
    max-width: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 20px;
}

section {
    margin-left: 50px;
}

.p-tag {
    color: #ffc66d;
    margin-left: -50px;
}

.comment-slash {
    margin-left: -50px;
}

.comment-block  {
    color: #77B767;
}

.constant-block-primary {
    color: #A9B7C6;
}

.constant-block-secondary {
    color: #9876aa;
}

.constant-block-tertiary {
    color: #CC7832;
    color: #9876aa;
}

a {
    color: #77B767;
    border-bottom: 1px dashed #77B767;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    opacity: 0.85;
}

.sub-title, .blog-sub-title {
    position: relative;
    padding-left: 10px;
}

.sub-title::before, .blog-sub-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: white;
    animation: blink 1.5s step-end infinite;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;

    color: white;
    border-bottom: unset;
    padding: 5px 9px;
    background-color: #2B2B2B;
    border-radius: 9px;
    transition: transform .3s ease-in-out;
}

.article-paragraph {
    opacity: 1 !important;
}

.article-paragraph p {
    color: white;
    transition: transform .3s ease-in-out;
}

.nav-item:hover, .article-paragraph p:hover {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    main {
        max-width: 80%;
    }
}
