html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    background-color: #1E1E1E;
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 14px;
    overflow: auto;
}

header {
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

main {
    margin: 30px auto auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5,  code, pre {
    width: 100%;
    padding-left: 10px;
}

h1 {
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: white;
    animation: blink 1.5s step-end infinite;
}

pre.highlight {
    background-color: #282C34;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    color: #ABB2BF;
    font-size: 14px;
    line-height: 1.6;
}

pre.highlight code {
    font-family: "Courier New", Courier, monospace;
    background: none;
    color: inherit;
}

pre.highlight code::before,
pre.highlight code::after {
    content: '';  
}


@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}